body {
    background-color: #f3f3f3;
    font-family: "Poppins", sans-serif;
}

img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    text-align: center;
    margin-top: 5em;
}

.option {
    background-color: #d5d5d5;
    border: none;
    cursor: pointer;
    padding: 0.8em 1.5em;
    border-radius: 0.5em;
}

.news-card {
    box-shadow: 0 0 15px rgba(85, 85, 85, 0.2);
    margin: 1em 0;
    border-radius: 15px;
    overflow: hidden;
}

.news-content {
    padding: 1em;
}

.news-title {
    font-weight: 600;
    color: #0b0028;
}

.news-description {
    color: #6f6f6f;
    text-align: justify;
    margin: 0.8em 0 1em 0;
}

.view-button {
    text-decoration: none;
    background-color: #cb202d;
    color: #fff;
    padding: 0.3em 0.2em;
    border-radius: 5px;
    display: inline-block;
}

.active {
    background-color: #cb202d;
    color: #fff;
}
