html, body {
    margin: 0;
}
.header{
    width: 100%;
    height: 60px;
    background-color: black;
    color: aqua;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.box1 {
    /* width: 100px;Chiều rộng của hộp */
    height: 600px; /* Chiều cao của hộp */
    color: rgb(255, 255, 255);
    display: flex; /* Hiển thị các hộp cạnh nhau */
    align-items: center;
    background-color: rgb(255, 255, 255);
    background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4HQjs?ver=f9ce&q=90&m=6&h=609&w=1083&b=%23FFFFFFFF&l=f&o=t&x=1680&y=436&aim=true);
    box-sizing: border-box;
    margin: 50px;
    background-size: cover;
    overflow: hidden; /* Ẩn bất kỳ nội dung nào vượt ra khỏi khung */

}
.colum-layout {
    margin-left: 50px;

    display: block;
}
.box2{
    width: 300px;
    height: 300px;
    background-color: rgb(209, 230, 230);
    margin-left: 75px;
    margin-bottom: 50px;
    display: inline-block;
    vertical-align: bottom;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
}
.nav-list {
    padding-left: 0;
    margin: auto 16px;
}
.nav-item{
    color: aliceblue;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}
.chanchu{
    color: ;
    margin-top: 170px;
    flex: 1;
}
